{% extends 'quiz/adminbase.html' %}
{% block content %}
{%load static%}


<span class="border rounded shadow">
<div class="m-2">

    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>Name</th>
          <th>Profile Picture</th>
          <th>Mobile</th>
          <th>Address</th>
         
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for t in students %}
      <tr>

        <td> {{t.get_name}}</td>
        <td> <img src="{% static t.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{t.mobile}}</td>
        <td>{{t.address}}</td>
        
        <td><a class="btn btn-primary btn-xs" href="{% url 'update-student' t.id  %}"><span class="bi bi-pencil-square"></span></a></td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'delete-student' t.id  %}"><span class="bi bi-trash"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  

</div>
</span>

<br><br>
{% endblock content %}