{% extends 'quiz/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}

    <div class="d-flex justify-content-center">
    <div class="container text-center">
    <div class="row">

    <div class="col align-self-center">
    <div class="card shadow" style="width: 14rem;">
      <img src="https://images.unsplash.com/photo-1427504494785-3a9ca7044f45?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="card-img-top" alt="loading Image">
      <div class="card-body">
        <h5 class="card-title">Total Students</h5>
        <p class="card-text"><i class="fas fa-book f-left"></i><span>   {{total_student}}</span></p>
      </div>
    </div>
    </div>

    <div class="col align-self-center">
    <div class="card shadow" style="width: 14rem;">
      <img src="https://images.unsplash.com/photo-1590402494682-cd3fb53b1f70?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="card-img-top" alt="loading Image">
      <div class="card-body">
        <h5 class="card-title">Total Teachers</h5>
        <p class="card-text"><i class="fas fa-chalkboard-teacher f-left"></i><span>   {{total_teacher}}</span></p>
      </div>
    </div>
    </div>

    </div>
    <div class="row">    

    <div class="col align-self-center">
    <div class="card shadow" style="width: 14rem;">
      <img src="https://images.unsplash.com/photo-1606326608606-aa0b62935f2b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="card-img-top" alt="loading Image">
      <div class="card-body">
        <h5 class="card-title">Total Exams</h5>
        <p class="card-text"><i class="fas fa-book f-left"></i><span>   {{total_course}}</span></p>
      </div>
    </div>
    </div>

    <div class="col align-self-center">
    <div class="card shadow" style="width: 14rem;">
      <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" class="card-img-top" alt="loading Image">
      <div class="card-body">
        <h5 class="card-title">Total Questions</h5>
        <p class="card-text"><i class="fas fa-question-circle f-left"></i><span>   {{total_question}}</span></p>
      </div>
    </div>
    </div>

    </div>
    </div>
    </div>

<br><br>
{% endblock content %}
