{% extends 'quiz/adminbase.html' %}
{% block content %}
{%load static%}


   {% comment %} 
   <table class="table table-hover">
      <thead>
        <tr>

          <th>Name</th>
          <th>Profile Picture</th>
          <th>Mobile</th>
          <th>Address</th>
         
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for t in teachers %}
      <tr>

        <td> {{t.get_name}}</td>
        <td> <img src="{% static t.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{t.mobile}}</td>
        <td>{{t.address}}</td>
        
        <td><a class="btn btn-primary btn-xs" href="{% url 'update-teacher' t.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'delete-teacher' t.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div> {% endcomment %}

<span class="border rounded shadow">
<div class="m-2">
<table class="table table-hover">
  <thead>
    <tr>

      <th>Name</th>
      <th>Profile Picture</th>
      <th>Mobile</th>
      <th>Address</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>

  {% for t in teachers %}
  <tr>

    <td> {{t.get_name}}</td>
    <td> <img src="{% static t.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
    <td>{{t.mobile}}</td>
    <td>{{t.address}}</td>
    
    <td><a class="btn btn-primary btn-xs" href="{% url 'update-teacher' t.id  %}"><span class="bi bi-pencil-square"></span></a></td>
    <td><a class="btn btn-danger btn-xs" href="{% url 'delete-teacher' t.id  %}"><span class="bi bi-trash"></span></a></td>
  </tr>
  {% endfor %}

</table>
</div>
</span>




<br><br>

{% endblock content %}