<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>  
  {% include "quiz/navbar.html" %}

    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold">Test Me</h1>
      <div class="col-lg-6 mx-auto">
        <h1 class="display-6">A platform to put your skills to the test</h1>
        <p class="lead mb-4">Join up and get access to multiple course based quizzes, there's always something new to learn!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="/student/studentsignup" type="button" class="btn btn-primary btn-lg px-4 gap-3">Sign Up Now!</a>
        </div>
      </div>
    </div>

  {% include "quiz/footer.html" %}
</body>
</html>