<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logged out successfully</title>
</head>
<body>
  {% include "quiz/navbar.html" %}

    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold">Logged Out successfully</h1>
      <div class="col-lg-6 mx-auto">
        <br><br>
        <p class="lead mb-4">It'll be a good idea to close all open windows, hope to see you soon!</p>
      </div>
    </div>

  {% include "quiz/footer.html" %}
</body>
</html>